WebForm/Connected Services/CommentService/CommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="star" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddCommentResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCommentByProductId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="productID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCommentByProductIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowCommentByProductIdResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddCommentSoapIn">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="AddCommentSoapOut">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ShowCommentByProductIdSoapIn">
    <wsdl:part name="parameters" element="tns:ShowCommentByProductId" />
  </wsdl:message>
  <wsdl:message name="ShowCommentByProductIdSoapOut">
    <wsdl:part name="parameters" element="tns:ShowCommentByProductIdResponse" />
  </wsdl:message>
  <wsdl:portType name="CommentServiceSoap">
    <wsdl:operation name="AddComment">
      <wsdl:input message="tns:AddCommentSoapIn" />
      <wsdl:output message="tns:AddCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCommentByProductId">
      <wsdl:input message="tns:ShowCommentByProductIdSoapIn" />
      <wsdl:output message="tns:ShowCommentByProductIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommentServiceSoap" type="tns:CommentServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCommentByProductId">
      <soap:operation soapAction="http://tempuri.org/ShowCommentByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CommentServiceSoap12" type="tns:CommentServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap12:operation soapAction="http://tempuri.org/AddComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCommentByProductId">
      <soap12:operation soapAction="http://tempuri.org/ShowCommentByProductId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="CommentServiceSoap" binding="tns:CommentServiceSoap">
      <soap:address location="https://localhost:44339/CommentService.asmx" />
    </wsdl:port>
    <wsdl:port name="CommentServiceSoap12" binding="tns:CommentServiceSoap12">
      <soap12:address location="https://localhost:44339/CommentService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>